<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css' />
    
</head>
<body>
	<div class="col-md-12">
		<div class="col-md-4">
			<div class="jumbotron">
			  <h1>Build</h1>
			  <p> Costruzione dell'indice </p>
			  <p><a class="btn btn-primary btn-lg" href="/build" role="button">Build!</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
			  <h1>Search</h1>
			  <p> Ricerca all'interno dell'indice </p>
			  <p><a class="btn btn-primary btn-lg" href="/search" role="button">Search!</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
			  <h1>Search</h1>
			  <p> Ricerca qualcuno simile a te! </p>
			  <p><a class="btn btn-primary btn-lg" href="/best-friend" role="button">Search!</a></p>
			</div>
		</div>
	</div>
    
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>