<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css' />
    
</head>
<body>
	
	<div class="col-md-3">
		<h1>Ricerca</h1>
	    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
		  <div class="form-group">
		    <label for="id">Id: </label>
		    <input type="text" class="form-control" th:field="*{id}" placeholder="ID" />
		  </div>
		  <div class="form-group">
		    <label for="message">Message: </label>
		    <input type="text" class="form-control" th:field="*{content}" placeholder="Message" />
		  </div>
		  <button type="submit" class="btn btn-success">Submit</button> <button type="reset" class="btn btn-default">Reset</button>
		</form>
    </div>
    
    
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>